* {
  margin: 0 auto;
  box-sizing: border-box;
}
section {
  max-width: 800px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav_css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: end;
  align-items: center;

  max-height: 740px;
  max-width: 740px;
  margin: 5px;
  padding: 20px;

  box-shadow: 1px 1px 10px rgb(212, 212, 212);
}

.selector_title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 72px;
  margin: 50px auto;
}

.harmony_selector_element {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.color_selector_element {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.color_picker {
  height: 30px;
  width: 142px;
}

#harmony_menu {
  width: 142px;
  height: 30px;

  border: none;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;

  color: white;
  background-color: black;
}

#harmony_menu option {
  background: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: none;
}

.color_container {
  width: 177px;

  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px 10px rgb(212, 212, 212);

  background-color: rgb(255, 255, 255);
}

.color_box {
  width: 162px;
  height: 160px;
  margin: 2px;
  padding: 2px;
  background-color: rgb(196, 158, 158);
}

.secondary_color_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.main_color_text {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_color {
  width: 365px;
  display: flex;
  flex-direction: row;
}
